In [1]:
import numpy as np
import pandas as pd

#### 1. Create a 6x3 integer array with values ranging from 10 to 100 such that the difference between each element is 5

In [2]:
task1 = np.array([[10, 15, 20],
                 [15, 20, 25],
                 [20, 25, 30],
                 [25, 30, 35],
                 [30, 35, 40],
                 [35, 40, 45]])

In [3]:
print(task1)

[[10 15 20]
 [15 20 25]
 [20 25 30]
 [25 30 35]
 [30 35 40]
 [35 40 45]]

#### 2. Create a numpy array using only starting point, length, and step

In [4]:
length, start, step = 15, 15, 5

In [5]:
task2 = np.arange(15, 85, 5)

In [6]:
print(task2)

[15 20 25 30 35 40 45 50 55 60 65 70 75 80]

#### 3. Find the index of 3rd repetition of number 2 in my_array

In [7]:
my_array = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])

In [8]:
result = np.where(my_array == 2)
print(result[0][2])

12

#### 4. Subtract the one_dim from the two_dim, such that each item of one_dim is subtracted from respective row of two_dim

In [9]:
two_dim = np.array([[30,30,30], [40,40,40], [50,50,50]])
one_dim = np.array([10,20,30])

In [10]:
print(two_dim - one_dim)

[[20 10  0]
 [30 20 10]
 [40 30 20]]

#### 5. Drop all nan values from my_array

In [11]:
my_array = np.array([1,2,3,np.nan,5,6,7,np.nan])

In [12]:
my_array = my_array[~np.isnan(my_array)]
print(my_array)

[1. 2. 3. 5. 6. 7.]

#### 6. Find the mode of petal length (column No 3) in iris dataset

In [13]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
data = np.genfromtxt(url, delimiter=',', dtype='object')

In [14]:
from scipy import stats
petal = data[:, 2]
print('mode:', stats.mode(petal)[0],\
      'count: ', stats.mode(petal)[1])

mode: [b'1.5'] count:  [14]

#### 7. Normalize sepal length (column No 1) values so that they are exactly between 0 and 1

In [15]:
sepal = data[:, 0]
sepal = sepal.astype('float')
min = sepal.min()
max = sepal.max()
sepal = (sepal - min)/(max - min)
print(sepal)

[0.22222222 0.16666667 0.11111111 0.08333333 0.19444444 0.30555556
 0.08333333 0.19444444 0.02777778 0.16666667 0.30555556 0.13888889
 0.13888889 0.         0.41666667 0.38888889 0.30555556 0.22222222
 0.38888889 0.22222222 0.30555556 0.22222222 0.08333333 0.22222222
 0.13888889 0.19444444 0.19444444 0.25       0.25       0.11111111
 0.13888889 0.30555556 0.25       0.33333333 0.16666667 0.19444444
 0.33333333 0.16666667 0.02777778 0.22222222 0.19444444 0.05555556
 0.02777778 0.19444444 0.22222222 0.13888889 0.22222222 0.08333333
 0.27777778 0.19444444 0.75       0.58333333 0.72222222 0.33333333
 0.61111111 0.38888889 0.55555556 0.16666667 0.63888889 0.25
 0.19444444 0.44444444 0.47222222 0.5        0.36111111 0.66666667
 0.36111111 0.41666667 0.52777778 0.36111111 0.44444444 0.5
 0.55555556 0.5        0.58333333 0.63888889 0.69444444 0.66666667
 0.47222222 0.38888889 0.33333333 0.33333333 0.41666667 0.47222222
 0.30555556 0.47222222 0.66666667 0.55555556 0.36111111 0.33333333
 0.33333333 0.5        0.41666667 0.19444444 0.36111111 0.38888889
 0.38888889 0.52777778 0.22222222 0.38888889 0.55555556 0.41666667
 0.77777778 0.55555556 0.61111111 0.91666667 0.16666667 0.83333333
 0.66666667 0.80555556 0.61111111 0.58333333 0.69444444 0.38888889
 0.41666667 0.58333333 0.61111111 0.94444444 0.94444444 0.47222222
 0.72222222 0.36111111 0.94444444 0.55555556 0.66666667 0.80555556
 0.52777778 0.5        0.58333333 0.80555556 0.86111111 1.
 0.58333333 0.55555556 0.5        0.94444444 0.55555556 0.58333333
 0.47222222 0.72222222 0.66666667 0.72222222 0.41666667 0.69444444
 0.66666667 0.66666667 0.55555556 0.61111111 0.52777778 0.44444444]

#### 8. Get the positions of top 5 maximum values in my_array

In [16]:
np.random.seed(100)
my_array = np.random.uniform(1, 50, 20)

In [17]:
print(my_array)
sorted_array = my_array.argsort()
print(sorted_array[:5])

[27.62684215 14.64009987 21.80136195 42.39403048  1.23122395  6.95688692
 33.86670515 41.466785    7.69862289 29.17957314 44.67477576 11.25090398
 10.08108276  6.31046763 11.76517714 48.95256545 40.77247431  9.42510962
 40.99501269 14.42961361]
[ 4 13  5  8 17]

#### 9. Replace all values greater than 50 with 50 and less than 0 to 0 in my_array

In [18]:
np.random.seed(100)
my_array = np.random.uniform(-10,100, 30)

In [19]:
print(my_array)
my_array[my_array>50] = 50
my_array[my_array<0] = 0
print(my_array)

[49.7745436  20.62063236 36.69693498 82.92537456 -9.48092582  3.37260329
 63.78239932 80.84380306  5.03772487 53.26026624 88.04541497 13.01223343
 10.38610415  1.92145795 14.16672419 97.64861632 79.2851464   8.9135114
 79.78472236 20.14811217 37.4874602  93.40328016 79.94143167 26.97231451
  9.29514991 31.01152509 -9.37426419 17.76689888 77.52287593 -8.32195316]
[49.7745436  20.62063236 36.69693498 50.          0.          3.37260329
 50.         50.          5.03772487 50.         50.         13.01223343
 10.38610415  1.92145795 14.16672419 50.         50.          8.9135114
 50.         20.14811217 37.4874602  50.         50.         26.97231451
  9.29514991 31.01152509  0.         17.76689888 50.          0.        ]

#### 10. Read every 10th row and only specified columns of Boston Housing dataset as a dataframe, convert 'chas' column name to 'river', and write the output to an Excel file without index

In [20]:
url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
columns = ['crim', 'chas', 'nox', 'tax', 'ptratio', 'medv']

In [35]:
save = pd.read_csv(url)
print(save.columns)
df = pd.read_csv(url, usecols = columns)
df = df.iloc[::10, :]
#or..
#df = df[df.index%10 == 0])
df = df.rename(columns = {'chas':'river'})
print(df)

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
         crim  river     nox  tax  ptratio  medv
0     0.00632      0  0.5380  296     15.3  24.0
10    0.22489      0  0.5240  311     15.2  15.0
20    1.25179      0  0.5380  307     21.0  13.6
30    1.13081      0  0.5380  307     21.0  12.7
40    0.03359      0  0.4280  252     18.3  34.9
50    0.08873      0  0.4390  243     16.8  19.7
60    0.14932      0  0.4530  284     19.7  18.7
70    0.08826      0  0.4130  305     19.2  24.2
80    0.04113      0  0.4260  281     19.0  28.0
90    0.04684      0  0.4890  270     17.8  22.6
100   0.14866      0  0.5200  384     20.9  27.5
110   0.10793      0  0.5200  384     20.9  21.7
120   0.06899      0  0.5810  188     19.1  22.0
130   0.34006      0  0.6240  437     21.2  19.2
140   0.29090      0  0.6240  437     21.2  14.0
150   1.65660      0  0.8710  403     14.7  21.5
160   1.27346      1  0.6050  403     14.7  27.0
170   1.20742      0  0.6050  403     14.7  17.4
180   0.06588      0  0.4880  193     17.8  39.8
190   0.09068      0  0.4370  398     15.2  37.0
200   0.01778      0  0.4030  402     17.0  32.9
210   0.17446      1  0.4890  277     18.6  21.7
220   0.35809      1  0.5070  307     17.4  26.7
230   0.53700      0  0.5040  307     17.4  24.3
240   0.11329      0  0.4280  300     16.6  22.0
250   0.14030      0  0.4310  330     19.1  24.4
260   0.54011      0  0.6470  264     13.0  33.8
270   0.29916      0  0.4640  223     18.6  21.1
280   0.03578      0  0.4429  216     14.9  45.4
290   0.03502      0  0.4110  245     19.2  28.5
300   0.04417      0  0.4000  358     14.8  24.8
310   2.63548      0  0.5440  304     18.4  16.1
320   0.16760      0  0.4930  287     19.6  23.8
330   0.04544      0  0.4600  430     16.9  19.8
340   0.06151      0  0.5150  224     20.2  18.7
350   0.06211      0  0.4290  335     19.7  22.9
360   4.54192      0  0.7700  666     20.2  25.0
370   6.53876      1  0.6310  666     20.2  50.0
380  88.97620      0  0.6710  666     20.2  10.4
390   6.96215      0  0.7000  666     20.2  15.1
400  25.04610      0  0.6930  666     20.2   5.6
410  51.13580      0  0.5970  666     20.2  15.0
420  11.08740      0  0.7180  666     20.2  16.7
430   8.49213      0  0.5840  666     20.2  14.5
440  22.05110      0  0.7400  666     20.2  10.5
450   6.71772      0  0.7130  666     20.2  13.4
460   4.81213      0  0.7130  666     20.2  16.4
470   4.34879      0  0.5800  666     20.2  19.9
480   5.82401      0  0.5320  666     20.2  23.0
490   0.20746      0  0.6090  711     20.1   8.1
500   0.22438      0  0.5850  391     19.2  16.8

#### 11. Which decade was the most dangerous to live in the US according to crime rates data?

In [98]:
df = pd.read_csv('US_Crime_Rates_1960_2014.csv')
df['Year'] = df['Year'].apply(lambda x: (x//10)*10)
columns = df.columns
df = df.groupby('Year').agg(avg_crimes = ('Total', 'mean'), \
                            avg_pop = ('Population', 'mean'))
df['danger'] = df['avg_crimes']/df['avg_pop']
print(df[df['danger']==df['danger'].max()])

      avg_crimes      avg_pop    danger
Year
1980  13112336.9  237137006.9  0.055294

#### 12. Drop the rows from the movies dataset where all elements are missing. Was there any?

In [103]:
df = pd.read_csv('movies_metadata.csv')
df.dropna(how = 'all', inplace = True)
print(df)

#No

    adult                              belongs_to_collection    budget  \
0   False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1   False                                                NaN  65000000
2   False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3   False                                                NaN  16000000
4   False  {'id': 96871, 'name': 'Father of the Bride Col...         0
5   False                                                NaN  60000000
6   False                                                NaN  58000000
7   False                                                NaN         0
8   False                                                NaN  35000000
9   False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
10  False                                                NaN  62000000
11  False                                                NaN         0
12  False  {'id': 117693, 'name': 'Balto Collection', 'po...         0
13  False                                                NaN  44000000
14  False                                                NaN  98000000
15  False                                                NaN  52000000
16  False                                                NaN  16500000
17  False                                                NaN   4000000
18  False  {'id': 3167, 'name': 'Ace Ventura Collection',...  30000000
19  False                                                NaN  60000000
20  False  {'id': 91698, 'name': 'Chili Palmer Collection...  30250000
21  False                                                NaN         0
22  False                                                NaN  50000000
23  False                                                NaN         0
24  False                                                NaN   3600000
25  False                                                NaN         0
26  False                                                NaN  12000000
27  False                                                NaN         0
28  False                                                NaN  18000000
29  False                                                NaN         0
30  False                                                NaN         0
31  False                                                NaN  29500000
32  False                                                NaN         0
33  False  {'id': 9435, 'name': 'Babe Collection', 'poste...  30000000
34  False                                                NaN         0
35  False                                                NaN  11000000
36  False                                                NaN         0
37  False                                                NaN         0
38  False                                                NaN  12000000
39  False                                                NaN         0
40  False                                                NaN         0
41  False                                                NaN  10000000
42  False                                                NaN  19000000
43  False  {'id': 9818, 'name': 'Mortal Kombat Collection...  18000000
44  False                                                NaN  20000000
45  False                                                NaN  10000000
46  False                                                NaN  33000000
47  False  {'id': 136214, 'name': 'Pocahontas Collection'...  55000000
48  False                                                NaN         0
49  False                                                NaN   6000000

                                               genres  \
0   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                      [{'id': 35, 'name': 'Comedy'}]
5   [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6   [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11  [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20  [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                      [{'id': 18, 'name': 'Drama'}]
26  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28  [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
30  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
31  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
32  [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...
33  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
34  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
35                      [{'id': 18, 'name': 'Drama'}]
36  [{'id': 12, 'name': 'Adventure'}, {'id': 36, '...
37  [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
38  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
39                      [{'id': 18, 'name': 'Drama'}]
40  [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
41  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
42  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
43  [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
44  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
45  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
46  [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
47  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
48  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
49  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...

                                             homepage      id    imdb_id  \
0                http://toystory.disney.com/toy-story     862  tt0114709
1                                                 NaN    8844  tt0113497
2                                                 NaN   15602  tt0113228
3                                                 NaN   31357  tt0114885
4                                                 NaN   11862  tt0113041
5                                                 NaN     949  tt0113277
6                                                 NaN   11860  tt0114319
7                                                 NaN   45325  tt0112302
8                                                 NaN    9091  tt0114576
9        http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
10                                                NaN    9087  tt0112346
11                                                NaN   12110  tt0112896
12                                                NaN   21032  tt0112453
13                                                NaN   10858  tt0113987
14                                                NaN    1408  tt0112760
15                                                NaN     524  tt0112641
16                                                NaN    4584  tt0114388
17                                                NaN       5  tt0113101
18                                                NaN    9273  tt0112281
19                                                NaN   11517  tt0113845
20                                                NaN    8012  tt0113161
21                                                NaN    1710  tt0112722
22                                                NaN    9691  tt0112401
23                                                NaN   12665  tt0114168
24  http://www.mgm.com/title_title.do?title_star=L...     451  tt0113627
25                                                NaN   16420  tt0114057
26                                                NaN    9263  tt0114011
27                                                NaN   17015  tt0114117
28                                                NaN     902  tt0112682
29                                                NaN   37557  tt0115012
30                                                NaN    9909  tt0112792
31                                                NaN      63  tt0114746
32                                                NaN   78802  tt0114952
33                                                NaN    9598  tt0112431
34                                                NaN   47018  tt0112637
35                                                NaN     687  tt0112818
36                                                NaN  139405  tt0112286
37                                                NaN   33689  tt0113442
38                                                NaN    9603  tt0112697
39                                                NaN   34615  tt0112749
40                                                NaN   31174  tt0114279
41                                                NaN   11443  tt0112819
42                                                NaN   35196  tt0114272
43                                                NaN    9312  tt0113855
44                                                NaN     577  tt0114681
45                                                NaN   11861  tt0113347
46                         http://www.sevenmovie.com/     807  tt0114369
47                                                NaN   10530  tt0114148
48                                                NaN    8391  tt0114916
49  http://www.mgm.com/#/our-titles/2083/The-Usual...     629  tt0114814

   original_language                    original_title  \
0                 en                         Toy Story
1                 en                           Jumanji
2                 en                  Grumpier Old Men
3                 en                 Waiting to Exhale
4                 en       Father of the Bride Part II
5                 en                              Heat
6                 en                           Sabrina
7                 en                      Tom and Huck
8                 en                      Sudden Death
9                 en                         GoldenEye
10                en            The American President
11                en       Dracula: Dead and Loving It
12                en                             Balto
13                en                             Nixon
14                en                  Cutthroat Island
15                en                            Casino
16                en             Sense and Sensibility
17                en                        Four Rooms
18                en    Ace Ventura: When Nature Calls
19                en                       Money Train
20                en                        Get Shorty
21                en                           Copycat
22                en                         Assassins
23                en                            Powder
24                en                 Leaving Las Vegas
25                en                           Othello
26                en                      Now and Then
27                en                        Persuasion
28                fr        La Cité des Enfants Perdus
29                zh                         摇啊摇，摇到外婆桥
30                en                   Dangerous Minds
31                en                    Twelve Monkeys
32                fr  Guillaumet, les ailes du courage
33                en                              Babe
34                en                        Carrington
35                en                  Dead Man Walking
36                en            Across the Sea of Time
37                en                      It Takes Two
38                en                          Clueless
39                en          Cry, the Beloved Country
40                en                       Richard III
41                en                   Dead Presidents
42                en                       Restoration
43                en                     Mortal Kombat
44                en                        To Die For
45                en     How To Make An American Quilt
46                en                             Se7en
47                en                        Pocahontas
48                en             When Night Is Falling
49                en                The Usual Suspects

                                             overview  ...  release_date  \
0   Led by Woody, Andy's toys live happily in his ...  ...    1995-10-30
1   When siblings Judy and Peter discover an encha...  ...    1995-12-15
2   A family wedding reignites the ancient feud be...  ...    1995-12-22
3   Cheated on, mistreated and stepped on, the wom...  ...    1995-12-22
4   Just when George Banks has recovered from his ...  ...    1995-02-10
5   Obsessive master thief, Neil McCauley leads a ...  ...    1995-12-15
6   An ugly duckling having undergone a remarkable...  ...    1995-12-15
7   A mischievous young boy, Tom Sawyer, witnesses...  ...    1995-12-22
8   International action superstar Jean Claude Van...  ...    1995-12-22
9   James Bond must unmask the mysterious head of ...  ...    1995-11-16
10  Widowed U.S. president Andrew Shepherd, one of...  ...    1995-11-17
11  When a lawyer shows up at the vampire's doorst...  ...    1995-12-22
12  An outcast half-wolf risks his life to prevent...  ...    1995-12-22
13  An all-star cast powers this epic look at Amer...  ...    1995-12-22
14  Morgan Adams and her slave, William Shaw, are ...  ...    1995-12-22
15  The life of the gambling paradise – Las Vegas ...  ...    1995-11-22
16  Rich Mr. Dashwood dies, leaving his second wif...  ...    1995-12-13
17  It's Ted the Bellhop's first night on the job....  ...    1995-12-09
18  Summoned from an ashram in Tibet, Ace finds hi...  ...    1995-11-10
19  A vengeful New York transit cop decides to ste...  ...    1995-11-21
20  Chili Palmer is a Miami mobster who gets sent ...  ...    1995-10-20
21  An agoraphobic psychologist and a female detec...  ...    1995-10-27
22  Assassin Robert Rath arrives at a funeral to k...  ...    1995-10-06
23  Harassed by classmates who won't accept his sh...  ...    1995-10-27
24  Ben Sanderson, an alcoholic Hollywood screenwr...  ...    1995-10-27
25  The evil Iago pretends to be friend of Othello...  ...    1995-12-15
26  Waxing nostalgic about the bittersweet passage...  ...    1995-10-20
27  This film adaptation of Jane Austen's last nov...  ...    1995-09-27
28  A scientist in a surrealist society kidnaps ch...  ...    1995-05-16
29  A provincial boy related to a Shanghai crime f...  ...    1995-04-30
30  Former Marine Louanne Johnson lands a gig teac...  ...    1995-08-11
31  In the year 2035, convict James Cole reluctant...  ...    1995-12-29
32                                                NaN  ...    1996-09-18
33  Babe is a little pig who doesn't quite know hi...  ...    1995-07-18
34  The story of the relationship between painter ...  ...    1995-11-08
35  A justice drama based on a true story about a ...  ...    1995-12-29
36  A young Russian boy, Thomas Minton, travels to...  ...    1995-10-20
37  Identical 9-year-olds from very different back...  ...    1995-11-17
38  Shallow, rich and socially successful Cher is ...  ...    1995-07-19
39  A South-African preacher goes to search for hi...  ...    1995-12-15
40  Shakespeare's Play transplanted into a 1930s s...  ...    1995-12-29
41  Depicts a heist of old bills, retired from cir...  ...    1995-10-06
42  An aspiring young physician, Robert Merivel fo...  ...    1995-12-29
43  For nine generations an evil sorcerer has been...  ...    1995-08-18
44  Susan wants to work in television and will the...  ...    1995-05-20
45  Soon-to-be-wed graduate student Finn Dodd deve...  ...    1995-10-06
46  Two homicide detectives are on a desperate hun...  ...    1995-09-22
47  History comes gloriously to life in Disney's e...  ...    1995-06-14
48  A prudish woman, working on tenure as a litera...  ...    1995-05-05
49  Held in an L.A. interrogation room, Verbal Kin...  ...    1995-07-19

      revenue runtime                                   spoken_languages  \
0   373554033    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1   262797249   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2           0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3    81452156   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4    76578911   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
5   187436818   170.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
6           0   127.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
7           0    97.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
8    64350171   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
9   352194034   130.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
10  107879496   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
11          0    88.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
12   11348324    78.0           [{'iso_639_1': 'en', 'name': 'English'}]
13   13681765   192.0           [{'iso_639_1': 'en', 'name': 'English'}]
14   10017322   119.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
15  116112375   178.0           [{'iso_639_1': 'en', 'name': 'English'}]
16  135000000   136.0           [{'iso_639_1': 'en', 'name': 'English'}]
17    4300000    98.0           [{'iso_639_1': 'en', 'name': 'English'}]
18  212385533    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
19   35431113   103.0           [{'iso_639_1': 'en', 'name': 'English'}]
20  115101622   105.0           [{'iso_639_1': 'en', 'name': 'English'}]
21          0   124.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
22   30303072   132.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
23          0   111.0           [{'iso_639_1': 'en', 'name': 'English'}]
24   49800000   112.0           [{'iso_639_1': 'en', 'name': 'English'}]
25          0   123.0           [{'iso_639_1': 'en', 'name': 'English'}]
26   27400000   100.0           [{'iso_639_1': 'en', 'name': 'English'}]
27          0   104.0           [{'iso_639_1': 'en', 'name': 'English'}]
28    1738611   108.0  [{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...
29          0   108.0               [{'iso_639_1': 'zh', 'name': '普通话'}]
30  180000000    99.0           [{'iso_639_1': 'en', 'name': 'English'}]
31  168840000   129.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
32          0    50.0           [{'iso_639_1': 'en', 'name': 'English'}]
33  254134910    89.0           [{'iso_639_1': 'en', 'name': 'English'}]
34          0   121.0           [{'iso_639_1': 'en', 'name': 'English'}]
35   39363635   122.0           [{'iso_639_1': 'en', 'name': 'English'}]
36          0    51.0  [{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...
37          0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
38          0    97.0  [{'iso_639_1': 'es', 'name': 'Español'}, {'iso...
39     676525   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
40          0   104.0           [{'iso_639_1': 'en', 'name': 'English'}]
41          0   119.0           [{'iso_639_1': 'en', 'name': 'English'}]
42          0   117.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
43  122195920   101.0           [{'iso_639_1': 'en', 'name': 'English'}]

#### 13. Merge df1 and df2 to get df3

In [24]:
df1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                    'key2': ['K0', 'K1', 'K0', 'K1'],
                    'P': ['P0', 'P1', 'P2', 'P3'],
                    'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
df2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                    'key2': ['K0', 'K0', 'K0', 'K0'],
                    'R': ['R0', 'R1', 'R2', 'R3'],
                    'S': ['S0', 'S1', 'S2', 'S3']})
df3 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K1', 'K2', 'K2'],
                    'key2': ['K0', 'K1', 'K0', 'K0', 'K1', 'K0'],
                    'P': ['P0', 'P1', 'P2', 'P2', 'P3', np.nan],
                    'Q': ['Q0', 'Q1', 'Q2', 'Q2', 'Q3', np.nan],
                    'R': ['R0', np.nan, 'R1', 'R2', np.nan, 'R3'],
                    'S': ['S0', np.nan, 'S1', 'S2', np.nan, 'S3']})
print("Original DataFrames:\nDataframe 1:\n", df1, '\nDataFrame 2:\n', df2)
print("Desired DataFrame:\n", df3)

Original DataFrames:
Dataframe 1:
   key1 key2   P   Q
0   K0   K0  P0  Q0
1   K0   K1  P1  Q1
2   K1   K0  P2  Q2
3   K2   K1  P3  Q3
DataFrame 2:
   key1 key2   R   S
0   K0   K0  R0  S0
1   K1   K0  R1  S1
2   K1   K0  R2  S2
3   K2   K0  R3  S3
Desired DataFrame:
   key1 key2    P    Q    R    S
0   K0   K0   P0   Q0   R0   S0
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2   R1   S1
3   K1   K0   P2   Q2   R2   S2
4   K2   K1   P3   Q3  NaN  NaN
5   K2   K0  NaN  NaN   R3   S3

In [25]:
df3 = pd.merge(df1, df2, how = 'outer')
print(df3)

  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0   R0   S0
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2   R1   S1
3   K1   K0   P2   Q2   R2   S2
4   K2   K1   P3   Q3  NaN  NaN
5   K2   K0  NaN  NaN   R3   S3

#### 14. Merge left_df and right_df to get df

In [26]:
left_df = pd.DataFrame({'transaction_id': ['A', 'B', 'C', 'D'], 
                       'user_id': ['Peter', 'John', 'John', 'Anna'],
                       'value': [43, 76, 54, 88]})
right_df = pd.DataFrame({'user_id_r': ['Paul', 'Mary', 'John', 'Anna', 'Edward'],
                        'favorite_color': ['blue', 'blue', 'red', np.nan, 'orange']})
df = pd.DataFrame({'transaction_id': ['A', 'B', 'C', 'D'],
                   'user_id': ['Peter', 'John', 'John', 'Anna'],
                   'value': [43, 76, 54, 88],
                   'favorite_color': ['blue', 'blue', 'red', np.nan]})
print("Original DataFrames:\nDataframe 1:\n", left_df, '\nDataFrame 2:\n', right_df)
print("Desired DataFrame:\n", df)

Original DataFrames:
Dataframe 1:
   transaction_id user_id  value
0              A   Peter     43
1              B    John     76
2              C    John     54
3              D    Anna     88
DataFrame 2:
   user_id_r favorite_color
0      Paul           blue
1      Mary           blue
2      John            red
3      Anna            NaN
4    Edward         orange
Desired DataFrame:
   transaction_id user_id  value favorite_color
0              A   Peter     43           blue
1              B    John     76           blue
2              C    John     54            red
3              D    Anna     88            NaN

In [27]:
df = left_df.join(right_df)
print(df)

# understanding between join, merge, on, right, left, outer

  transaction_id user_id  value user_id_r favorite_color
0              A   Peter     43      Paul           blue
1              B    John     76      Mary           blue
2              C    John     54      John            red
3              D    Anna     88      Anna            NaN

#### 15.  Convert year and day of year into a single date column to get the desired DataFrame

In [28]:
data1 = pd.DataFrame({"year": [2005, 2008, 2010, 2022],
                      "day_of_the_year": [250, 364, 1, 176]})
data2 = pd.DataFrame({"year": [2005, 2008, 2010, 2022],
                      "day_of_the_year": [250, 364, 1, 176],
                      "date": ['2005-09-07', '2008-12-29', '2010-01-01', '2022-06-25']})
print("Original DataFrame:\n", data1)
print("Desired DataFrame:\n", data2)

Original DataFrame:
    year  day_of_the_year
0  2005              250
1  2008              364
2  2010                1
3  2022              176
Desired DataFrame:
    year  day_of_the_year        date
0  2005              250  2005-09-07
1  2008              364  2008-12-29
2  2010                1  2010-01-01
3  2022              176  2022-06-25

In [130]:
def date(year, day):
    months = {'1':31, '2':28, '3':31, '4':30, '5':31, '6':30, \
              '7':31, '8':31, '9':30, '10': 31, '11':30, '12':31 }
    for key in months:
        i = 0
        if year.iloc[i] % 4 == 0:
            months.update({'2': 29})
        else:
            months.update({'2': 29})
        l = 0
        l += months[key]
        if l >= day[i]:
            break
    l -= months[key]
    month = key
    number = str(day[i] - l)
    i += 1
    return "{}-{}-{}".format(year[i], month, number)

In [131]:
lk = date(data1['year'], data1['day_of_the_year'])

In [132]:
print(lk)

2008-12-250